/Lesson 1/Урок 1. Коды примеров/
/venv/
/Lesson2/Урок 2. Коды примеров/
/Lesson2/Урок 2. Пример практического задания/
/Lesson 1/
/Lesson5/Урок 5. Коды примеров/
/Lesson5/Урок 5. Пример практического задания/
/Lesson6/Урок 6. Коды примеров/
/Lesson6/Урок 6. Пример практического задания/
